.App {
  text-align: center;
}

nav {
  background-color: #f4f4f4;
  padding: 1rem;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 1rem;
}